test/diary.txt
test/logs
test/oldlogs*
test/testlogs
*/simNeuralNetworkFunction.m
*/planNeuralNetworkFunction.m
*/testNeuralNetworkFunction.m
*/savedResults.mat
*/*.m~
*/pathdef.m
R/.Rapp.history
R/.RData
R/.Rhistory
